sphinx_rtd_theme==3.0.2
sphinx_material
sphinx==8.2.3
shap==0.49.1
lime==0.2.0.1
torchcam==0.4.1
anchor-exp==0.0.2.0
#git+https://github.com/kdd-lab/LORE_sa.git@main
#git+https://github.com/fspinna/lasts.git@main
#git+https://github.com/scikit-fuzzy/scikit-fuzzy
#git+https://github.com/Kaysera/flocalx.git@main
#git+https://github.com/msetzu/glocalx.git@main
#git+https://github.com/marti5ini/LIME-MV.git@main
#git+https://github.com/samueletonati/Counterfactual-Ensembles-For-Churn-Prediction.git@main
#git+https://github.com/calathea21/IFAC.git@main
pandas==2.3.3
numpy==1.26.4
setuptools==80.9.0
pillow==12.0.0
pytest==8.4.2
pytest-cov==7.0.0
matplotlib==3.10.7
tabulate2==1.10.2