sphinx_rtd_theme~=1.2.0
sphinx_material
sphinx~=5.0
shap==0.48.0
lime==0.2.0.1
torchcam==0.4.0
anchor-exp==0.0.2.0
git+https://github.com/kdd-lab/LORE_sa.git@main
git+https://github.com/fspinna/lasts.git@main
git+https://github.com/scikit-fuzzy/scikit-fuzzy
git+https://github.com/Kaysera/flocalx.git@main
git+https://github.com/msetzu/glocalx.git@main
git+https://github.com/marti5ini/LIME-MV.git@main
git+https://github.com/samueletonati/Counterfactual-Ensembles-For-Churn-Prediction.git@main
git+https://github.com/calathea21/IFAC.git@main
pandas~=2.3.3
numpy~=2.2.6
setuptools~=68.2.0